@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 
#80CBC4  primary
#B4EBE6  primary 2
#FBF8EF  seconddary
#FFB433  optional


*/
:root {
    --primary1: #80CBC4;
    --primary2: #00897B;
    --secondary1: #FFFFFF;
    --secondary2: #E8E8E8;
    --third: #00695C;
    --fontblack: #0B132A;
    --fontgrey: #4F5665;
    --fontwhite: #FFFFFF;
    --fontgreen: #00A700;
    --fontred: #D00000;

    }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--secondary1);
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary2);
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    /* position: relative */
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary2);
}

.logo img {
    height: 32px;
    width: 32px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user #user-account {
    line-height: 24px;
    letter-spacing: -0.6%;
}

.user img {
    width: 48px;
    height: 48px;
}

.user button {
    background-color: transparent;
    background-image: url('../img/user-down-24.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    height: 24px;
    width: 24px;
    border: none;
}


main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary1);
    width: 262px;
    height: 100%;
    top: 76px;
    left: -1px;
    gap: 15px;
    padding-top: 24px;
    padding-right: 14px;
    padding-bottom: 24px;
    padding-left: 42px;
    border-right: 1px solid var(--secondary2);

}

.menu {
    height: 100%;
    width: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 10px;
}

li {
    border-radius: 6px;
}

.main-menu {
    background-color: var(--primary2);
}

ul a {
    display: flex;
    gap: 10px;
    text-transform: capitalize;
    color: var(--fontgrey);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.6%;
    text-decoration: none;
    width: 100%;
    border-radius: 6px;
    padding: 10px 60px 10px 20px;
}

li img {
    height: 24px;
    width: 24px;
}

.main-menu a {
    color: var(--secondary1);
    width: 100%;
}
li a:hover {
    /* background-color: var(--primary2); */
    color: var(--primary2);
}

#logo-name {
    text-transform: capitalize;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  padding-right: 80px;
  gap: 30px;
}

.content-up {
  width: 100%;
  color: var(--fontblack);
  /* border: 1px solid var(--primary1); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;

}

.content-up-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    /* background-color: #00897B; */
}

.content-up-2 > span {
    color: var(--fontgrey);
}

.content-up-2 > .font-primary {
    color: var(--primary1);
}

.content-up img {
  height: 24px;
  width: 24px;
}
.content-up > span {
  font-size: 16px;
  font-weight: 600;
}
  
.content-down {
  width: 100%;
  /* height: 100%; */
  border: 1px solid var(--secondary2);
  top: 166px;
  left: 300px;
  border-width: 1px;
  padding: 20px;
}

.content-down {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
  gap: 20px;
}

.title-history {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    padding: 20px;
}

.list-history{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    width: 100%;
    gap: 20px;
}

.list-history > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap : 80px;
    text-align: center;
    padding: 20px;
}

.list-history > div > span {
    flex: 1;
}

.list-history > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list-history > div > img {
    height: 24px;
    width: 24px;
}

.list-history > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.list-history > div > div > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    gap: 10px;
    background-color: var(--primary2);
    border-radius: 6px;
    color: var(--secondary1);
}
.content-down .title-history span {
    font-weight: 600;
}

.list-history > div > div > div > div > span {
    font-size: 14px;
}
    
.list-history > div > div > div > div > img {
    height: 16px;
    width: 16px;
}
.list-history > div > div > img {
    height: 80px;
    width: 80px;
}

.list-history > div:nth-child(odd) {
    background-color: var(--secondary2);
}

.list-history > div:nth-child(even) {
    background-color: var(--secondary1);
    
}
.data-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    gap: 20px;
}

.data-history  span {
    font-size: 16px;
    font-weight: 600;
}
.data-history button {
    border-radius: 6px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 8px;
    gap: 8px;
}

.data-history:last-child > input {
    padding: 10px 20px;
    height: 400px;
    text-align: left;
    vertical-align: top;
}

input, button {
    outline: unset;
}

.data-history > form > div > .btn-input {
    border-radius: 6px;
    padding: 20px;
    padding-left: 40px;
    gap: 10px;
    width: 100%;
    border: 1px solid var(--secondary2);
    background-image: url('../img/u_money-bill.png');
    /* background-image: url('../img/email.png'); */
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    padding-left: 36px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
}

.data-history > form > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-history > form > div > span {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

    
}

.data-history > form > button {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    color: var(--secondary1);
    background-color: var(--primary2);
    padding: 12px;
    cursor: pointer;
}

#formEditProfile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#infoValidation {
    color: var(--primary2);
    font-weight: 500;
}

.data-history > div > p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
} 

.data-history > div > div {
    display: flex;
    flex-direction: row;
    gap: 20px;

    /* justify-content: center; */
    /* align-items: center; */
}
.data-history > div > div > img {
    height: 128px;
    width: 128px;
}

.data-history > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.data-history > div > div > div > img {
    height: 24px;
    width: 24px;
}

.data-history > div > div > div > button {
    width: 160px;
    height: 45px;
    gap: 8px;
    font-size: 14px;
    border-radius: 6px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.data-history > div > div > div > button:first-child{
    background-color: var(--primary2);
    color: var(--secondary1);
    border: none;
}
.data-history > div > div > div > button:last-child{
    background-color: var(--secondary1);
    color: var(--fontred);
    border: 1px solid var(--fontred);
}

.data-history > form > div > span > a {
    text-decoration: none;
    color: var(--primary2);
}


.content-down > span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
}

.content-down > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    /* border: 1px solid var(--secondary2); */
    padding: 20px 0;
}

.image-mobile {
    display: none;
}

@media (max-width: 768px) {
    main {
        flex-direction: column-reverse;
    }

    .content {
        padding-right: 30px;
    }

   
    aside {
        /* position: fixed; */
        width: 100%;
        bottom: 0;
        left: 0;
        height: 100px;
        margin: 0 auto;
        /* width: 100%; */
        background-color: #fff; /* atau warna sesuai tema */
        border-top: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        z-index: 999;
    }
    .menu, .menu > ul, .menu > ul > li {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;  
        margin: 0;  
        width: 100%;
        box-sizing: border-box;    
    }

    .menu > ul {
        padding: 0;
        margin: 0;
        gap: 0;
        height: 100%;
    }

    .menu > ul > li {
        /* flex: 1; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
    }

    .main-menu > a {
        background-color: var(--secondary1);
        color: var(--primary2);
    }

    .menu > ul > li a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100%;
    }

    .menu > ul > li > img {
        /* flex: 1; */
        display: flex;
        flex-direction: row;
    }


    .menu > ul > li:last-child {
        display: none;
    }
    header {
        display: none;
    }
    li > a > .image-mobile {
        display: flex;
    }
    li > a > .image-desktop {
        display: none;
    }

    .data-history > span {
        /* gap: 40px; */
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .content  {
        padding: 0;
        gap: 0;
    }
    .content-up {
        padding: 20px 40px;
        background-color: var(--primary2);
        color: var(--secondary1);
        
    }
    .content-up > img {
        display: none;
    }

    .content-up > span {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.6%;
        padding: 0;
    }
    .content-down {
        border: none;
    }
}







