@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* 
#80CBC4  primary
#B4EBE6  primary 2
#FBF8EF  seconddary
#FFB433  optional


*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", serif;
  margin: 0 auto;
}
.container {
  display: flex;
  background-color: #80cbc4;
  width: 100%;
  height: 100%;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-left {
  flex: 1;
  /* width: 710px; */
  height: 100%;
  background-color: #fbf8ef;
  padding: 10px;
  border-radius: 0 40px 40px 0;
  display: flex;
  justify-items: center;
  align-items: center;
}

.layout-register img {
  height: 32px;
  width: 32px;
}

.layout-right {
  flex: 1;
  /* width: 730px; */
  height: 100%;
  background-color: #80cbc4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.layout-right img {
  width: 627px;
  height: 859px;
  /* margin: 20px auto; */
}

.layout-ewallet {
  height: 32px;
  /* gap: 15px; */
  margin-bottom: 15px;
}
.title-register {
  font-size: 30px;
  font-weight: 600;
  /* height: 111px; */
  margin-bottom: 13px;
}

.description-register {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  margin-bottom: 13px;
}

#ewallet {
  color: #80cbc4;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}

.layout-register {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 562px;
  font-family: "Nunito Sans", sans-serif;
}

.btn-secondary,
.btn-primary {
  width: 100%;
  background-color: #fbf8ef;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 6px;
  gap: 10px;
  margin-bottom: 13px;
  font-family: "Montserrat";
}

.btn-primary {
  background-color: #80cbc4;
  color: #ffffff;
  border: 1px solid #fbf8ef;
  font-size: 16px;
}
.btn-secondary {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}

.btn-primary:hover {
  cursor: pointer;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 191px;
  gap: 20px;
  padding: 20px 10px;
  font-weight: 500;
}

.form-input-pin {
  width: 100%;
  height: 66px;
  width: 66px;
  color: #00695c;
  /* border-radius: 8px; */
  border: none;
  border-bottom: 2px solid #999;
  padding: 14px 13px;
  gap: 20px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
}

.input-box input:active {
  cursor: pointer;
  border-bottom: 2px solid #80cbc4;
}

#email {
  background-image: url("./img/email.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px;
  padding-left: 36px;
}

#password {
  background-image: url("./img/password.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px;
  padding-left: 36px;
}

.title-register,
#ewallet,
.btn-secondary,
.btn-primary,
.input-box,
.text-info {
  text-transform: capitalize;
}

.have-account {
  text-align: center;
}

.span-login {
  color: #80cbc4;
}

input::placeholder {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.75px;
}

button img {
  width: 24px;
  height: 24px;
}

/* Untuk Chrome, Safari, Edge, Opera */
/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Untuk Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

@media (max-width: 768px) {
  .container {
    min-height: 100vh;
    padding: 24px;
    min-width: 100vw;
  }

  .layout-left {
    width: 100%;
    border-radius: 40px;
    padding: 40px;
    height: 65%;
  }
  .layout-right {
    display: none;
  }
  .layout-register {
    gap: 20px;
    justify-content: space-between;
  }
  .layout-register > .input-box {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
  }
  .form-input-pin {
    width: 20px;
    padding: 2px;
  }
  #formPin > .input-box {
    height: 140px;
    padding: 0;
    gap: 8px;
    justify-content: center;
  }
  .input-box > input {
    width: 40px;
    height: 60px;
    font-size: 20px;
  }
}
