@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 
#80CBC4  primary
#B4EBE6  primary 2
#FBF8EF  secondary
#FFB433  optional

Rekomendasi warna lebih tua dari #80CBC4:
#4DB6AC – Versi satu tingkat lebih tua, masih lembut.
#26A69A – Lebih gelap lagi, dengan kesan lebih kuat.
#00897B – Jauh lebih tua, mendekati warna teal gelap.
#00695C – Sangat gelap, cocok untuk aksen atau latar belakang kontras tinggi.
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: #80CBC4; */
    background: radial-gradient(50% 50% at 50% 50%, rgba(128, 203, 196, 0.87) 0%, rgba(38, 166, 154, 1) 100%);

}
.main {
    width: 550px;
    height: 466px;
    background:#FFFFFF;
    border-radius: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    height: 100%;
}

.form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 15px;
    width: 451px;
    height: 32px;
    margin-bottom: 20px;
}

.form-header img {
    height: 32px;
    width: 32px;
}

.form-header span {
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 20px;
    color: #4DB6AC;
    margin-top: 10px;
}

.form-title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 20px;
}

.form-description {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    margin-bottom: 20px;
}

.form-input {
    position: relative;
    width: 250px;
    margin-bottom: 15px;
    box-sizing: border-box;
    text-align: left;
}

.form-input .input-label {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;

} 

.form-input img {
    position: absolute;
    left: 12px;
    top: 69%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.form-input input {
    margin-top: 10px;
    border-radius: 8px;
    gap: 10px;
    border: 1px solid #DEDEDE;
    width: 451px;
    padding: 14px 13px 14px 40px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.75px;
}

.form-input input::placeholder {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.75px;
}

.form-button {
    height: 50px;
}

button {
    cursor: pointer;
}

.form-button > button {
    background-color: #4DB6AC;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 10px;
    gap: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
