@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* 
#80CBC4  primary
#B4EBE6  primary 2
#FBF8EF  seconddary
#FFB433  optional

Rekomendasi warna lebih tua dari #80CBC4:
#4DB6AC – Versi satu tingkat lebih tua, masih lembut.
#26A69A – Lebih gelap lagi, dengan kesan lebih kuat.
#00897B – Jauh lebih tua, mendekati warna teal gelap.
#00695C – Sangat gelap, cocok untuk aksen atau latar belakang kontras tinggi.
*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', serif;
    font-size: 16px;
}
.container {
    display: flex;
    background-color: #80CBC4;
    width: 100%;
    height: 100%;
    /* flex-direction: row; */
}

.layout-left {
    /* width: 50%; */
    flex: 1;
    height: 100%;
    background-color: #FBF8EF;
    padding: 10px;
    display: flex;
    border-radius: 0 40px 40px 0;
    justify-items: center;
    align-items: center;
}

.layout-register img {
    height: 32px;
    width: 32px;
}

.layout-right {
    flex: 1;
    /* width: 50%; */
    height: 100%;
    background-color: #80CBC4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-right img {
    width: 730px;
    height: 621px;
    margin: 20px auto;
}

.layout-ewallet {
    height: 32px;
    /* gap: 15px; */
    margin-bottom: 15px;
}
.title-register {
    font-size: 30px;
    font-weight: 600;
    /* height: 111px; */
    margin-bottom: 13px;
}

.description-register {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    margin-bottom: 13px;
}

#ewallet{
    color: #80CBC4;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}

.layout-register {
    margin: auto;
    width: 80%;
    font-family: "Nunito Sans", sans-serif;
}

.btn-secondary, .btn-primary {
    width: 100%;
    background-color: #FBF8EF;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 6px;
    gap: 10px;
    margin-bottom: 13px;
    font-family: "Montserrat";
}

.btn-primary {
    background-color: #80CBC4;
    color:#FBF8EF;
    border: 1px solid #FBF8EF;
    font-size: 16px;
}
.btn-secondary {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    height: 77px;
    gap: 13px;
    font-weight: 500;
    margin-bottom: 13px;
}

.form-input {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 14px 13px;
    font-weight: 400;
}

#email {
    background-image: url('../img/email.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    padding-left: 36px;
}

#password, #confirm-password {
    background-image: url('../img/password.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    padding-left: 36px;
}

.title-register, #ewallet, .btn-secondary,.btn-primary, .input-box, .text-info{
    text-transform: capitalize;
}

.have-account {
    text-align: center;
}

.span-login {
    color: #80CBC4;
}

input::placeholder {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.75px;
}

@media (max-width : 768px) {
    .container {
        flex-direction: column;
    }
    .layout-left {
        height: 100vh;
        width: 100vw;
        overflow-y: hidden;
        border-radius: 0;
    }
    .layout-right {
        display: none;
    }
}