@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 

#80CBC4  primary
#B4EBE6  primary 2
#FBF8EF  seconddary
#FFB433  optional

Rekomendasi warna lebih tua dari #80CBC4:
#4DB6AC – Versi satu tingkat lebih tua, masih lembut.
#26A69A – Lebih gelap lagi, dengan kesan lebih kuat.
#00897B – Jauh lebih tua, mendekati warna teal gelap.
#00695C – Sangat gelap, cocok untuk aksen atau latar belakang kontras tinggi.
*/
:root {
    --primary1: #80CBC4;
    --primary2: #00897B;
    --secondary1: #FFFFFF;
    --secondary2: #E8E8E8;
    --third: #00695C;
    --fontblack: #0B132A;
    --fontgrey: #4F5665;
    --fontwhite: #FFFFFF;
    --fontgreen: #00A700;
    --fontred: #D00000;

    }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--secondary1);
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary2);
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    /* position: relative */
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary2);
}

.logo img {
    height: 32px;
    width: 32px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user #user-account {
    line-height: 24px;
    letter-spacing: -0.6%;
}

.user img {
    width: 48px;
    height: 48px;
}

.user button {
    background-color: transparent;
    background-image: url('../img/user-down-24.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    height: 24px;
    width: 24px;
    border: none;
}


main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary1);
    width: 262px;
    height: 100%;
    top: 76px;
    left: -1px;
    gap: 15px;
    padding-top: 24px;
    padding-right: 14px;
    padding-bottom: 24px;
    padding-left: 42px;
    border-right: 1px solid var(--secondary2);

}

.menu {
    height: 100%;
    width: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 10px;
}

li {
    border-radius: 6px;
}

.main-menu {
    background-color: var(--primary2);
}

ul a {
    display: flex;
    gap: 10px;
    text-transform: capitalize;
    color: var(--fontgrey);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.6%;
    text-decoration: none;
    width: 100%;
    border-radius: 6px;
    padding: 10px 60px 10px 20px;
}

li img {
    height: 24px;
    width: 24px;
}

.main-menu a {
    color: var(--secondary1);
    width: 100%;
}
li a:hover {
    background-color: var(--primary2);
    color: var(--secondary2);
}

#logo-name {
    text-transform: capitalize;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  padding-right: 80px;
  gap: 30px;
  position: relative;
}
.content > .content-front {
    position: absolute;
    top: 0;
    left: 0;
    color: #00695C;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-front > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 0 auto; */
  height: 650px;
  width: 590px;
  background-color: var(--secondary1);
  padding: 20px;
  border-radius: 16px;
  z-index: 20;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.layout-register > .register-up {
    /* margin-bottom: 120px; */
    width: 100%;
}

.layout-register > .register-up > span {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
}

.layout-register > .register-up > hr {
    border: 1px solid var(--secondary2);
    margin-top: 10px;
}

.content-up {
  width: 100%;
  color: var(--fontblack);
  /* border: 1px solid var(--primary1); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
}

.content-up-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    /* background-color: #00897B; */
}

.content-up-2 > span {
    color: var(--fontgrey);
}

.content-up-2 > .font-primary {
    color: var(--primary1);
}

.content-up img {
  height: 24px;
  width: 24px;
}
.content-up > span {
  font-size: 16px;
  font-weight: 600;
}
  
.content-down {
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary2);
  top: 166px;
  left: 300px;
  border-width: 1px;
  padding: 20px;
}

.content-down {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
  gap: 20px;
}

.title-history {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    padding: 20px;
}

.list-history{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    width: 100%;
    gap: 20px;
}

.list-history > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap : 80px;
    text-align: center;
    padding: 20px;
}

.list-history > div > span {
    flex: 1;
}

.list-history > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list-history > div > img {
    height: 24px;
    width: 24px;
}

.list-history > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.list-history > div > div > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    gap: 10px;
    background-color: var(--primary2);
    border-radius: 6px;
    color: var(--secondary1);
}
.content-down .title-history span {
    font-weight: 600;
}

.list-history > div > div > div > div > span {
    font-size: 14px;
}
    
.list-history > div > div > div > div > img {
    height: 16px;
    width: 16px;
}
.list-history > div > div > img {
    height: 80px;
    width: 80px;
}

.list-history > div:nth-child(odd) {
    background-color: var(--secondary2);
}

.list-history > div:nth-child(even) {
    background-color: var(--secondary1);
    
}
.data-history {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    gap: 10px;
}

.data-history  span {
    font-size: 16px;
    font-weight: 600;
}
.data-history button {
    border-radius: 6px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 8px;
    gap: 8px;
}

.data-history:last-child > input {
    padding: 10px 20px;
    height: 400px;
    text-align: left;
    vertical-align: top;
}

.data-history > .btn-input {
    border-radius: 6px;
    padding: 20px;
    padding-left: 40px;
    gap: 10px;
    border: 1px solid var(--secondary2);
    background-image: url('../img/u_money-bill.png');
    /* background-image: url('../img/email.png'); */
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    padding-left: 36px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
}

.data-history > textarea {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
    padding: 10px;
    height: 280px;
    border: 1px solid var(--secondary2);
}

.data-history > textarea::placeholder {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;  
}

.data-history > button {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    color: var(--secondary1);
    background-color: var(--primary2);
    padding: 12px;
}




.content-down > span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6%;
  vertical-align: middle;
}

#ewallet{
    color: #80CBC4;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}

.layout-register {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
    height: 100%;
}


.btn-secondary, .btn-primary {
    width: 100%;
    background-color: #FBF8EF;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 6px;
    gap: 10px;
    margin-bottom: 13px;
    font-family: "Montserrat";
}

.btn-primary {
    background-color: #80CBC4;
    color:#FFFFFF;
    border: 1px solid #FBF8EF;
    font-size: 16px;
}
.btn-secondary {
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #E8E8E8;
    background-color: #ffffff;
}

.input-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 191px;
    gap: 20px;
    padding: 20px 10px;
    font-weight: 500;
}

.form-input-pin {
    width: 100%;
    height: 66px;
    width: 66px;
    color: #00695C;
    /* border-radius: 8px; */
    border: none;
    border-bottom: 2px solid #999;
    padding: 14px 13px;
    gap: 20px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    
}

.input-box input:active {
    cursor: pointer;
    border-bottom: 2px solid #80CBC4;
}

#email {
    background-image: url('./img/email.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    padding-left: 36px;
}

#password {
    background-image: url('./img/password.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    padding-left: 36px;
}

.title-register, #ewallet, .btn-secondary,.btn-primary, .input-box, .text-info{
    text-transform: capitalize;
}

.have-account {
    text-align: center;
}

.span-login {
    color: #80CBC4;
}

input::placeholder {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.75px;
}

button img {
    width: 24px;
    height: 24px;
}

.layout-ewallet {
    height: 32px;
    /* gap: 15px; */
    margin-bottom: 15px;
}
.title-register {
    font-size: 30px;
    font-weight: 600;
    /* height: 111px; */
    margin-bottom: 13px;
}

.description-register {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    margin-bottom: 13px;
}

.register-down {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 20px;
    color: var(--fontgrey);
}

.register-down > img {
  height: 270px;
  width: 270px;
}

.register-down > button {
  width: 100%;
  height: 50px;
  border: 6px;
}

.register-down > span {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
  line-height: 48px;
  text-align: center;
}

.register-down > p {
  font-size: 14px;
}

.register-down > button {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--primary2);
  color: var(--secondary1);
  border: none;
  border-radius: 6px;
}

span > .font-green {
  color: var(--fontgreen);
}

.register-down > button:last-child {
  background-color: var(--secondary1);
  color: var(--primary2);
  border: 1px solid var(--primary2);
}